/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-h3d1jgxi74] {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item[b-h3d1jgxi74]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-h3d1jgxi74]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-h3d1jgxi74] {
        display: none;
    }

    .collapse[b-h3d1jgxi74] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
